/*!!!!!!!!!!>>>>>>>>>>>>>>>>>>HOME PAGE<<<<<<<<<<<<<<<<<<<<<!!!!!!!!!!*/

/*>>>>>>>>>>>>>>>>>>home page image slide<<<<<<<<<<<<<<<<<<<<<*/
.slides {
    width: 100%;
    height: 100%;
}
.badge{
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    font-weight:bold;
    text-align:center;
    border-radius:50%
}
img.left-arrow,  img.right-arrow{
    width: 100%;
}
.homeSlide{
    position:relative;
    width:80%;
    margin:2% auto 2% auto;
    height:40em;
}
@media screen and (max-width:600px){
    li.rightArrow{float:none}
}
.leftArrow{
    float:left;
    padding-left: 16px;
    bottom: 20em;
    position: relative;
    width:2%;
}
.rightArrow{
    float:right;
    padding-right:16px;
    bottom: 20em;
    position: relative;
    width:2%;
}
.right-arrow:hover, .left-arrow:hover{
    width:120%;
}
.center{
    text-align:center;
}
.display-bottomleft{
    position:absolute;
    left:0;
    bottom:0
}
.border{
    border:1px solid #ccc;
}
.transparent{
    background-color:transparent
}
.w3-white,.hover-white:hover{
    color:#000;
    background-color:#fff
}

.text-white{
    color:#fff;
}
/*>>>>>>>>>>>>>>>>>>home page nav<<<<<<<<<<<<<<<<<<<<<*/
img.uvmlogo {
    width: 18%;
}
img.logo {
    width: 14%;
}
.navLi, .navOl, .line, .header {
    display: inline-block;
}
.seperateLine {
    height: 1.5em;
    padding: 0 6px 0 6px;
    margin-bottom: -5px;
}

/*>>>>>>>>>>>>>>>>>>home page body<<<<<<<<<<<<<<<<<<<<<*/
article {
    margin:1% auto 1% auto;
    width: 80%;
}
h1 {
    padding: 0 10% 0 10%;
}
footer{
    background: url('img/bg-texture.png');
}